__pycache__/
.ipynb_checkpoints/
data/
PheSpec/
documents/
textmodel/
hpo/
corona/
patient-similarity-master/
word2vec/
PhenoTool/results/A_novel_missense_mutation_in_ACTG1_causes_dominant/0_raw/figures
PhenoTool/results/A_heterozygous_mutation_of_ß-actin_associated_with/0_raw/figures
PhenoTool/results/A_novel_missense_mutation_in_the_ACTG1_gene_in_a_f/0_raw/figures
PhenoTool/results/A_recurrent_de_novo_mutation_in_ACTG1_causes_isola/0_raw/figures
PhenoTool/results/ACTB_Loss-of-Function_Mutations_Result_in_a_Pleiot/0_raw/figures
PhenoTool/results/Bi-allelic_IARS_mutations_in_a_child_with_intra-ut/0_raw/figures
PhenoTool/results/Biallelic_IARS_Mutations_Cause_Growth_Retardation_/0_raw/figures
PhenoTool/results/Mutations_of_the_aminoacyl-tRNA-synthetases_SARS_a/0_raw/figures
PhenoTool/results/Refractory_very_early-onset_inflammatory_bowel_dis/0_raw/figures
PhenoTool/results/A_novel_missense_mutation_in_ACTG1_causes_dominant/0_raw/tables
PhenoTool/results/A_heterozygous_mutation_of_ß-actin_associated_with/0_raw/tables
PhenoTool/results/A_novel_missense_mutation_in_the_ACTG1_gene_in_a_f/0_raw/tables
PhenoTool/results/A_recurrent_de_novo_mutation_in_ACTG1_causes_isola/0_raw/tables
PhenoTool/results/ACTB_Loss-of-Function_Mutations_Result_in_a_Pleiot/0_raw/tables
PhenoTool/results/Bi-allelic_IARS_mutations_in_a_child_with_intra-ut/0_raw/tables
PhenoTool/results/Biallelic_IARS_Mutations_Cause_Growth_Retardation_/0_raw/tables
PhenoTool/results/Mutations_of_the_aminoacyl-tRNA-synthetases_SARS_a/0_raw/tables
PhenoTool/results/Refractory_very_early-onset_inflammatory_bowel_dis/0_raw/tables