bokeh==2.1.1
bs4==4.9.0
matplotlib==3.2.1
negspacy==0.1.9
networkx==2.4
nltk==3.5
numpy==1.22.0
obonet==0.2.5
pandas==1.0.3
phenopy==0.4.2
phrank==1.6
PIL==7.2.0
pyspellchecker==0.5.4
re==2.2.1
requests==2.23.0
scipy==1.4.1
selenium==3.141.0
skfuzzy==0.4.2
sklearn==0.23.1
spacy==2.3.2
txt2hpo==0.2.2
webdriver_manager==3.2.1